root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.java]
charset = utf-8
indent_style = space
indent_size = 4

[*.{json,toml,xml,properties}]
charset = utf-8

[*.bat]
end_of_line = crlf
